@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Lato", system-ui, sans-serif;
    }
}

@layer components {
    .container {
        @apply max-w-[1350px] mx-auto px-5;
    }
}

@layer utilities {
    .swiper-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        cursor: pointer;
    }

    .swiper-arrow-next {
        right: 0;
    }

    .swiper-arrow-prev {
        left: 0;
    }
}
